.juntagrico_logo {
    background: url(/static/solawiimhecht/img/logo.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 300px;
    height: 300px;
}
